@media (min-width: 1025px) {
    body {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 1440px;
    }

    header {
        padding-left: 82px;
        padding-right: 82px;
    }

    .hamburger_menu_div {
        display: none;
    }
    
    .about_section {
        padding-left: 82px;
        padding-right: 82px;
    }

    .about_section_text_div {
        width: 426px;
    }

    .slider_section {
        padding-right: 82px;
        padding-left: 82px;
    }

    .footer_div {
        padding-left: 82px;
        padding-right: 82px;
    }

    .up_arrow_button {
        display: none;
    }
}

@media (min-width: 425px) and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .header_menu_div {
        height: 0;
        width: 0;
        overflow: hidden;
    }

    .footer_href_div {
        flex-direction: column;
        row-gap: 12px;
    }
}

@media (max-width: 425px) {
    body {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .header_menu_div {
        height: 0;
        width: 0;
        overflow: hidden;
    }

    .about_section_div {
        flex-direction: column;
    }

    .about_section_desc_div {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .about_section_img_div {
        width: 100%;
    }

    .gift_modal {
        max-width: none;
        margin-left: 8px;
        margin-right: 8px;
    }

    .footer_href_div {
        flex-direction: column;
        row-gap: 12px;
    }
}