/* ------------------------------ Fonts description ------------------------------ */

@font-face {
    font-family: Montserrat-Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Allura;
    src: url(./fonts/Allura-Regular.ttf);
}

.Montserrat-Action-Small {
    font-family: Montserrat-Regular;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.Allura-Caption {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.2px;
}

.Montserrat-Header1 {
    font-family: Montserrat-Regular;
    font-size: 32px;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: 5.76px;
    text-transform: uppercase;
}

.Montserrat-Header2 {
    font-family: Montserrat-Regular;
    font-size: 24px;
    line-height: 152%;
    font-weight: 600;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}

.Montserrat-Header3 {
    font-family: Montserrat-Regular;
    font-size: 16px;
    line-height: 152%;
    font-weight: 600;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.Montserrat-Header4 {
    font-family: Montserrat-Regular;
    font-size: 12px;
    line-height: 130%;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.Montserrat-Paragraph {
    font-family: Montserrat-Regular;
    font-size: 16px;
    line-height: 148%;
    font-weight: 400;
}

.Montserrat-Action-Large {
    font-family: Montserrat-Regular;
    font-size: 24px;
    line-height: 152%;
    font-weight: 600;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}

.Montserrat-Slider-Text {
    font-family: Montserrat-Regular;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
}

html {
    scroll-behavior: smooth;
    transition: scroll-behavior 2s;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0%;
}

a {
    text-decoration: none;
    color: black;
}

:hover {
    transition: background-color 0.7s, color 0.7s;
}

.up_arrow_button {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #ff4646;
    background-color: white;
    position: fixed;
    right: -100%;
    transition: right 1s;
    z-index: 9999;
    bottom: 10px;
}

.up_arrow_button_active {
    right: 10px;
}

/* ------------------------------ Header style description ------------------------------ */

header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.header_div {
    padding-top: 12px;
    padding-bottom: 12px;
    column-gap: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_logo_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header_logo_link img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_menu_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_menu_list {
    display: flex;
    column-gap: 8px;
    list-style-type: none;
}

.header_menu_list a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 15px;
}

.header_menu_list a:hover, .header_menu_item_active {
    background-color: rgba(255, 70, 70, 0.2);
    color: #ff4646;
}

.hamburger_menu_pop_up {
    background: white;
    height: 100%;
    width: 100%;
    position: fixed;
    right: -100%;
    transition: right 1s;
}

.hamburger_menu_pop_up_div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
}

.hamburger_menu_pop_up_active {
    right: 0;
    transition: right 1s;
    overflow: hidden;
}

.body_fixed {
    overflow: hidden;
}

.hamburger_menu_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 0;
    padding: 0;
}

.hamburger_button_bar1, .hamburger_button_bar2 {
    height: 1px;
    width: 20px;
    background-color: #181C29;
}

.hamburger_menu_view .hamburger_button_bar1 {
    transform: translate(0px, 0px) rotate(0deg);
    transition: transform 1s;
}

.hamburger_menu_view .hamburger_button_bar2 {
    transform: translate(0px, 0px) rotate(0deg);
    transition: transform 1s;
}

.hamburger_menu_cross .hamburger_button_bar1 {
    transform: translate(0px, 5px) rotate(-45deg);
    transition: transform 1s;
}

.hamburger_menu_cross .hamburger_button_bar2 {
    transform: translate(0px, -4px) rotate(45deg);
    transition: transform 1s;
}

/* ------------------------------ All section style description ------------------------------ */

main {
    border-radius: 15px;
    background-color: #ff4646;
    overflow: hidden;    
}

section {
    background-image: url(./image/bg-snow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------ Hero section style description ------------------------------ */

.hero_section {
    background-image: url(./image/bg-ball.png), url(./image/bg-snow.png);
}

.hero_section_div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    row-gap: 12px;
}

.hero_section_wish_text {
    color: white;
}

.hero_section_wish_text_bold {
    color: white;
}

.hero_section_button {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.hero_section_button:hover {
    background-color: white;
    color: black;
}

/* ------------------------------ About section style description ------------------------------ */

.about_section_div {
    background-color: white;
    border-radius: 20px;
    display: flex;
}

.about_section_desc_div {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
}

.about_section_text_div {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about_section_title_text {
    color: red;
}

.about_section_img_div {
    width: 50%;
    height: 528px;
    border-radius: 20px;
    background-image: url(./image/santa.png);
    background-size: cover;
    background-position: center;
}

/* ------------------------------ Slider section style description ------------------------------ */

.slider_section_div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: left;
}

.slider_section_text_div {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 12px;
}

.slider_wish_text {
    color: white;
}

.slider_wish_text_bold {
    color: white;
}

.slider_row {
    display: flex;
    align-items: center;
    gap: 0px 20px;
}

.slider_row * {
    position: relative;
    right: 0px;
    transition: right 1s;
}

.slider_text {
    color: white;
}

.slider_img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.slider_buttons_div {
    column-gap: 20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.slider_arrow_button {
    height: 56px;
    width: 56px;
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.slider_arrow_button_active:hover {
    background-color: white;
}

.slider_arrow_button_active:hover svg path {
    stroke: #ff4646;
}

.slider_arrow_button_active {
    border-color: rgba(255, 255, 255, 1);
}

.slider_arrow_button_disabled {
   border-color: rgba(255, 255, 255, 0.4);
}

.slider_svg {
    height: 24px;
    width: 24px;
}

/* ------------------------------ Best gifts section style description ------------------------------ */

.best_gifts_section_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.best_gifts_section_text_div {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 12px;
}

.best_gifts_wish_text {
    color: white;
}

.best_gifts_wish_text_bold {
    color: white;
}

.best_gifts_cards_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.best_gifts_card_for_work, .best_gifts_card_for_health, .best_gifts_card_for_harmony {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ecf3f8;
    width: 310px;
    height: 342px;
}

.best_gifts_card_for_work span, .best_gifts_card_for_health span, .best_gifts_card_for_harmony span {
    background-size: contain;
    width: 310px;
    height: 230px;
}

.best_gifts_card_for_work div, .best_gifts_card_for_health div, .best_gifts_card_for_harmony div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px 0;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    flex: 1;
}

.best_gifts_card_for_work:hover, .best_gifts_card_for_health:hover, .best_gifts_card_for_harmony:hover {
    color: #ff4646;
}

.best_gifts_card_for_work h3::before {
    content: 'For work';
    color: #4361ff;
}

.best_gifts_card_for_health h3::before {
    content: 'For health';
    color: #06a44f;
}

.best_gifts_card_for_harmony h3::before {
    content: 'For harmony';
    color: #ff43f7;
}

.best_gifts_card_for_work span {
    background-image: url(./image/gift-for-work.png);
}

.best_gifts_card_for_health span {
    background-image: url(./image/gift-for-health.png);
}

.best_gifts_card_for_harmony span {
    background-image: url(./image/gift-for-harmony.png);
}

/* ------------------------------ CTA section style description ------------------------------ */

.CTA {
    background-image: url(./image/bg-snow.png), url(./image/bg-forest.png);
}

.CTA_section_div {
    padding-top: 60px;
    padding-bottom: 60px;
}

.CTA_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.CTA_text_bold {
    color: white;
}

.CTA_text_cursiv {
    color: white;
}

.CTA_timer_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.CTA_timer {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 12px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.4);
}

.CTA_timer_block {
    width: 80px;
    position: relative;
}

.CTA_timer_block:not(:last-child)::after {
    content: '';
    height: 20px;
    width: 1px;
    background-color: white;
    color: white;
    opacity: 40%;
    position: absolute;
    top: 15px;
    right: 0px;
}

.CTA_timer_block_number {
    color: white;
}

.CTA_timer_block_text {
    color: white;   
}

/* ------------------------------ Footer section style description ------------------------------ */

footer {
    background-color: white;
}

.footer_div {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px 0;
}

.footer_href_div {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    width: 100%;
    justify-content: space-between;
}

.footer_href {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    border-radius: 20px;
    padding: 20px;
    background-color: #ecf3f8;
    flex: 1;
}

.footer_href:hover {
    color: #ff4646;
}

.footer_img {
    height: 80px;
    width: 80px;
}

.footer_social_href_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.footer_social_href {
    padding: 8px;
}

.footer_social_href_img {
    height: 24px;
    width: 24px;
}

.footer_social_href:hover, .footer_social_href:hover svg path {
    stroke: #ff4646;
    color: #ff4646;
}